# Microsoft Azure Client ID (OAuth 2.0 PKCE for OpenLauncher)
# If omitted, the default official Client ID will be used automatically.
VITE_MICROSOFT_CLIENT_ID=3f59fbe7-2c4b-4343-9a61-c03104ddaedf
MICROSOFT_CLIENT_ID=3f59fbe7-2c4b-4343-9a61-c03104ddaedf
