/releases
/OpenLauncher.dist
OpenLauncher.exe
OpenLauncher.cmd
OpenLauncher.spec
/temp
/logs
/.vscode
venv
__pycache__
compile-deb/usr/share/openlauncher/*
OpenLauncher.bin
OpenLauncher.deb
OpenLauncher.bin.spec
config
OpenLauncher
output-build
OpenLauncher-Portable-Windows.zip
build_secret.py
.env
/admin