[Desktop Entry]
Version=1.0
Type=Application
Name=OpenLauncher
Comment=OpenLauncher is an open source Minecraft launcher developed in Python
Exec=/usr/local/bin/openlauncher
Icon=openlauncher
Terminal=false
Categories=Game;
